html {
    font-family: Inika, Inter;
}

:root  {
    --green: #499A18;
    --orange: #E06733;
    --light-gray: #717171;
    --dark-grey: #636060;
    --Bg-section: #EDF2EC;
    --links-nav: #010201;
}

body {
    width: 1440px;
    height: 3870px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

header {
    left: 0px;
    top: 0px;
    background-color: var(--Bg-section);
    
}

.navbar {
    width: 1220px;
    height: 50px;
    padding: 42px 110px;
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 452px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}

#home {
    height: 50px;
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 50px;
}

#about-us {
    height: 50px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

#service {
    height: 50px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

#price {
    height: 50px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

#contacts {
    height: 50px;
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
}

.logo {
    width: 79.17px;
    height: 21.04px;
}

.welcome {
    height: 532px;
    width: 1440px;
    background-color: var(--Bg-section);
}

.welcome-inner-section {
    width: 1222px;
    height: 407.36px;
    padding: 62px 109px ;
    display: flex;
    justify-content: space-between ;
}

.leafs {
    width: 448.8px;
    height: 407.36px;
}

.welcome-text-block {
    width: 549px;
    height: 340px;
}

.welcome-title {
    width: 549px;
    height: 101px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
}

.btn-learn-more {
    width: 158px;
    height: 44px;
}

.welcome-text {
    width: 525.44px;
    height: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.plants {
    color: var(--green);
}

.about {
    background-color: #FFFFFF;
    width: 1440px;
    height: 666px;
}

.about-us-section {
    width: 1222px;
    height: 479px;
    padding: 93px 109px;
    display: flex;
    justify-content: space-between;
}

.about-us-text-section {
    width: 605px;
    height: 350px;
}

.about-us-title {
    width: 463px;
    height: 102px;
}

.about-us-text {
    
    width: 605px;
    height: 208px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.houseplant {
    width: 464px;
    height: 479px;
}
.service {
    width: 1440px;
    height: 1300px;
    background-color: var(--Bg-section); 
    display: flex;
    flex-direction: column;
}

.services-content {
    width: 1007px;
    height: 94px;
    padding: 40px 432px 90px 109px;
    display: flex;
}

.services-title {
    width: 306px;
    height: 94px;
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    
}

.services-btns {
    width: 559px;
    height: 50px;
}

.services {
    width: 1222px;
    height: 955px;
    padding: 109px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

#first {
    width: 329px;
    height: 350px;
    
    background: url(pexels-frank-meriño-3612089.jpg);
    border-radius: 20px 20px 0px 0px;
}

#second {
    width: 329px;
    height: 350px;

    background: url(pexels-gary-barnes-6231690.jpg);
    border-radius: 20px 20px 0px 0px;
}
#third {
    width: 329px;
    height: 350px;

    background: url(pexels-tima-miroshnichenko-6508837.jpg);
    border-radius: 20px 20px 0px 0px;
}

#forth {
    width: 329px;
    height: 350px;
    
    background: url(pexels-gary-barnes-6231849.jpg);
    border-radius: 20px 20px 0px 0px;
}

#fifth {
    width: 329px;
    height: 350px;
    
    background: url(pexels-gary-barnes-6231721.jpg);
    border-radius: 20px 20px 0px 0px;
}

#sixth {
    width: 329px;
    height: 350px;
    
    background: url(pexels-teona-swift-6912841.jpg);
    border-radius: 20px 20px 0px 0px;
}


.prices {
    height: 560px;
    background-color: #FFFFFF;
}

.contacts {
    height: 550px;
    background-color: var(--Bg-section);
}

footer {
    height: 130px;
    background-color: #FFFFFF;
}