html {
    font-family: Inika, Inter;
}

:root  {
    --green: #499A18;
    --orange: #E06733;
    --light-gray: #717171;
    --dark-grey: #636060;
    --Bg-section: #EDF2EC; 
    --links-nav: #010201;
    --border-gray: #E3E1D5;
}

body {
    width: 1440px;
    height: 3870px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}
/********************HEADER************/
header {
    left: 0px;
    top: 0px;
    background-color: var(--Bg-section);
}

.navbar {
    width: 1220px;
    height: 50px;
    padding: 42px 110px;
    display: flex;
    justify-content: space-between;
}

.nav {
    width: 452px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;;

}

.nav-list {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 5px;
    margin: 2px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.nav-list-item {
    display: inline;
}

.nav-link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
}

.home {
    font-weight: 700;
    color: var(--orange);
}

.logo {
    width: 79.17px;
    height: 21.04px;
}

/********************WELCOME************/
.welcome {
    height: 532px;
    width: 1440px;
    background-color: var(--Bg-section);
}

.welcome-inner-section {
    width: 1222px;
    height: 407.36px;
    padding: 62px 109px ;
    display: flex;
    justify-content: space-between ;
}

.leafs {
    width: 448.8px;
    height: 407.36px;
}

.welcome-text-block {
    width: 549px;
    height: 340px;
}

.welcome-title {
    width: 549px;
    height: 101px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin-block-end: 0;
    margin-block-start: 0;
}

.btn-learn-more {
    width: 158px;
    height: 44px;
    color: #000000;
    background: var(--Bg-section);
    border: 2px solid var(--orange);
    border-radius: 10px;

    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
}

.welcome-text {
    width: 525.44px;
    height: 105px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.plants {
    color: var(--green);
}
/********************ABOUT************/
.about {
    background-color: #FFFFFF;
    width: 1440px;
    height: 666px;
}

.about-us-section {
    width: 1222px;
    height: 479px;
    padding: 93px 109px;
    display: flex;
    justify-content: space-between;
}

.about-us-text-section {
    width: 605px;
    height: 350px;
    padding: 68px 0 0;
}

.about-us-title {
    width: 463px;
    height: 102px;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
}

.prof-gard {
    color: var(--orange);
}

.about-us-text {
    
    width: 605px;
    height: 208px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.houseplant {
    width: 464px;
    height: 479px;
}

/********************SERVICES************/
.service {
    width: 1440px;
    height: 1300px;
    background-color: var(--Bg-section); 
    display: flex;
    flex-direction: column;
}

.services-content {
    width: 1007px;
    height: 94px;
    padding: 40px 432px 90px 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-title {
    width: 306px;
    height: 94px;
    
    font-family: 'Inika';
    font-size: 40px;
    line-height: 52px;
    color: var(--green);
    
}

.services-buttons {
    width: 559px;
    height: 50px;
}

.services-btn {
    width: 161px;
    height: 50px;
    margin-right: 19px;

    font-family: 'Inika';
    font-size: 20px;
    line-height: 26px;
    
    color: var(--orange);
    background: var(--Bg-section);

    border: 1px solid var(--orange);
    border-radius: 5px;
    
}

.services {
    width: 1222px;
    height: 955px;
    padding: 109px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service-item {
    width: 330px;
    height: 450px;
} 

.service-item-text-block {
    border: 1px solid var(--border-gray);
    border-radius: 20px;
}

.service-item-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: var(--orange);
    text-align: center;
}

.service-item-text {
    text-align: center;
    
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
}

.services-photo {
    width: 329px;
    height: 350px;
    
    border-radius: 20px 20px 0px 0px;
}


/********************PRICES************/
.prices {
    height: 560px;
    background-color: #FFFFFF;
}

.prices-wrapper {
    width: 1222px;
    height: 405px;
    padding: 40px 109px 115px 109px;
    display: flex;
    justify-content: space-between;
}

.prices-first {
    width: 332px;
    height: 391.01px;
}

.prices-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.prices-middle {
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices-accordion {
    width: 250px;
    height: 214.01px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.accordion-item {
    width: 250px;
    height: 50px;
    background-color: var(--Bg-section);
    border: 2px #EDF2EC;
    border-radius: 20px;
    display: flex;
    justify-content: space-around
    
}

.acc-item-title {
    width: 100px;
    height: 18px;

    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    
}

.acc-dot {
    width: 16px;
    height: 16px;
    padding-top: 8%;
}

.prices-second {
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.prices-second-title {
    width: 452px;
    height: 103px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: end;
}

.gardeners {
    color: var(--green);
}

.btn-contact-us {
    width: 162px;
    height: 50px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    background-color: #fff;
    color: var(--orange);
    margin-bottom: 18px;
}

.leaves-prices {
    width: 152px;
    height: 175px;
    margin-top: 18px;
}

/********************CONTACTS************/
.contacts {
    height: 550px;
    background-color: var(--Bg-section);
}

/********************FOOTER************/
footer {
    height: 130px;
    background-color: #FFFFFF;
}