html {
	font-size: 15px;
}

body {
    margin: 0;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: #121212;
}
/*Header*/

.header {
	padding: 10px;
	border-bottom: 2px solid darkorange;
	background-color: #ccc;
	

}

.header-title {
	
	margin: 5px;
	color: #F58F17;
	font-size: 30px;
	text-align: center;
}

.header-subtitle {
	margin: 0;
	color: #BD6E11;
	font-size: 24px;
	text-align: center;
	font-weight: normal;
}
/*about-me*/
.about-me {
    font-size: 20px;
}
/*/.about-me*/

.skills{
    font-style: italic;
    font-size: 25px;
}

.skills-list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: brown;
}

.git-link {
    font-size: 24px;
}