html {
	font-size: 15px;
	
}

:root  {
		--dark-blue: #1a2641;
	}

body {
    margin: 0 auto;
	display: flex;
	flex-direction: column;

	width: 80%;
	min-height: 100vw;

	font-family: Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	border: 10px groove #b0c2eb;
	background: linear-gradient(to bottom,rgb(166 182 230), rgb(119 137 175));
}
	

/******************Header*************/

.header {
	padding: 10px;
	
	
}

.header-title {
	
	margin: 5px;
	color: #ece0d6;
	font-size: 30px;
	
	text-align: center;

}

.header-subtitle {
	margin: 0;
	color: #BD6E11;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	/*background-color: var(--dark-blue);*/
}

.avatar {
	width:  22%;

	border-radius: 100px;
	box-shadow:  7px 1px var(--dark-blue);
}

.frame-for-photo {
	width: 20%;
}


/******************MAIN************/

.container {
	
	display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.content {
	padding: 20px;

	/*display: flex;
    justify-content: center;
    flex-wrap: wrap; */

}

/******about-me***********/


.about-me-block {
	width: 100%;
	margin-bottom: 20px;

	background: linear-gradient( 195deg, #a0aedd, 60%, #6f6bcd);
	color: #ebe0d5;
	background: radial-gradient( at top, #a0aedd, 60%, #6f6bcd);
	border-radius: 40px /40px;
}

.about-me-title {
	padding-left: 50%;
}

.about-me-text {
	padding: 20px;
    font-size: 20px;
}
/*/.about-me*/

.skills{
    font-style: italic;
    font-size: 25px;

	margin: 0 auto;
	
	max-width: 70%;

	background: radial-gradient( at top, #a0aedd, 60%, #6f6bcd);
	border: 2px dashed #a3b6e4;
}

.skills-list {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: brown;
	text-align: center;
}
.code-example-title {
	font: italic bold 24px/1.2 Arial, sans-serif;
	background-color: #b56d00;
    color: #ebe0d5;
	width: 30%;
	margin-left: 205px;
}
/*font: italic small-caps bold 24px/1.2 Arial;*/


.code-example {
	border: 18px groove #5959fa3f;
    border-radius: 200px 20px;
    background-color: #f1f4ff;
    width: 600px;
	margin: 0 auto;
}

.js-code {
    margin: 0 auto;
}

.git-link {
    font-size: 24px;
}

.git-hub-photo {
	width: 10%;
}

.sidebar {
	/*background-color: #e2ccc8;*/
	width: 10%;
	max-height: 540px;
	position: fixed;
    right: 0%;
}

.footer {
	margin-top: 20px;
	background-color: #b0c2eb;
	/*background-color: #a3b6e4;*/
}

/******************Navigation***********/

.nav-block {
	display: flex;
	flex-wrap: wrap; 
}

.nav-link {
	width: 100%;
	background: linear-gradient( 195deg, #a0aedd, 60%, #6f6bcd);
	padding: 10%;
	text-decoration: none;
}

.up-link {
	width: 10%;
}

/*фотка и лицо  + заголовок переставить


переменные - цвета страницы

ссылки- навигация в ездящем справа сайдбаре

flex

текст не вылозит из блока обо мне

меню не должно прыгать при изменении размера

sections :
profile - самая первая секция с именем, профессией, фотографией
contacts (список контактов)
summary (рассказ о себе)
skills (перечень навыков)
code (пример кода)
courses (курсы в т.ч онлайн-курсы)
projects (ссылки на выполненные проекты)
education (образование)
languages (языки в т.ч. уровень английского)
Каждой секции укажите уникальный id. 

! dark mode - https://www.w3schools.com/howto/howto_js_toggle_dark_mode.asp

*/